gsoap-2.8/gsoap/james/ws-discovery_.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright Notice

(c) 2004-2005 Microsoft Corporation, Inc. All rights reserved.

Permission to copy, display, perform, modify and distribute the 
WS-Discovery Specification (the "Specification", which includes 
WSDL and schema documents), and to authorize others to do the 
foregoing, in any medium without fee or royalty is hereby granted 
for the purpose of developing and evaluating the Specification.

BEA Systems, Canon, Intel, Microsoft, and webMethods, Inc. 
(collectively, the "Co-Developers") each agree to grant a license 
to third parties, under royalty-free and other reasonable, 
non-discriminatory terms and conditions, to their respective 
essential Licensed Claims, which reasonable, non-discriminatory 
terms and conditions may include, for example, but are not limited 
to, an affirmation  of the obligation to grant reciprocal licenses 
under any of the licensee's patents that are necessary to implement 
the Specification.  

DISCLAIMERS:

THE SPECIFICATION IS PROVIDED "AS IS," AND THE CO-DEVELOPERS MAKE 
NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, 
BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS 
OF THE SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE 
IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY 
PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

THE CO-DEVELOPERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, 
SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY 
USE OF THE SPECIFICATION OR THE PERFORMANCE OR IMPLEMENTATION OF 
THE CONTENTS THEREOF.

You may remove these disclaimers from your modified versions of the 
Specification provided that you effectively disclaim all warranties 
and liabilities on behalf of all Co-developers and any copyright 
holders in the copies of any such modified versions you distribute.

The name and trademarks of the Co-developers may NOT be used in any 
manner, including advertising or publicity pertaining to the 
Specification or its contents without specific, written prior 
permission. Title to copyright in the Specification will at all 
times remain with Microsoft.

No other rights are granted by implication, estoppel or otherwise.

-->
<wsdl:definitions
    targetNamespace="http://schemas.xmlsoap.org/ws/2005/04/discovery"
    xmlns:tns="http://schemas.xmlsoap.org/ws/2005/04/discovery"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tt="http://www.onvif.org/ver10/schema"
	xmlns:dn="http://www.onvif.org/ver10/network/wsdl">

  <wsdl:types>
    <xs:schema 
      elementFormDefault="qualified">
      <xs:import
          namespace="http://schemas.xmlsoap.org/ws/2005/04/discovery"
    schemaLocation
    ="http://schemas.xmlsoap.org/ws/2005/04/discovery/ws-discovery.xsd"
          />
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="HelloMsg" >
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>

  <wsdl:message name="ByeMsg" >
    <wsdl:part name="parameters" element="tns:Bye" />
  </wsdl:message>

  <wsdl:message name="ProbeMsg" >
    <wsdl:part name="parameters" element="tns:Probe" />
  </wsdl:message>

  <wsdl:message name="ProbeMatchMsg" >
    <wsdl:part name="parameters" element="tns:ProbeMatches" />
  </wsdl:message>

  <wsdl:message name="ResolveMsg" >
    <wsdl:part name="parameters" element="tns:Resolve" />
  </wsdl:message>

  <wsdl:message name="ResolveMatchMsg" >
    <wsdl:part name="parameters" element="tns:ResolveMatches" />
  </wsdl:message>

  <wsdl:portType name="discoveryPort" >
    <wsdl:operation name="HelloOp" >
      <wsdl:output message="tns:HelloMsg"
      wsa:Action
      ="http://schemas.xmlsoap.org/ws/2005/04/discovery/Hello"
      />
    </wsdl:operation>
    <wsdl:operation name="ByeOp" >
      <wsdl:output message="tns:ByeMsg"
      wsa:Action
      ="http://schemas.xmlsoap.org/ws/2005/04/discovery/Bye"
      />
    </wsdl:operation>
    <wsdl:operation name="ProbeOp" >
      <wsdl:input message="tns:ProbeMsg"
      wsa:Action
      ="http://schemas.xmlsoap.org/ws/2005/04/discovery/Probe"
      />
    </wsdl:operation>
    <wsdl:operation name="ProbeMatchOp" >
      <wsdl:output message="tns:ProbeMatchMsg"
      wsa:Action
      ="http://schemas.xmlsoap.org/ws/2005/04/discovery/ProbeMatches"
      />
    </wsdl:operation>
    <wsdl:operation name="ResolveOp" >
      <wsdl:input message="tns:ResolveMsg"
      wsa:Action
      ="http://schemas.xmlsoap.org/ws/2005/04/discovery/Resolve"
      />
    </wsdl:operation>
    <wsdl:operation name="ResolveMatchOp" >
      <wsdl:output message="tns:ResolveMatchMsg"
      wsa:Action
      ="http://schemas.xmlsoap.org/ws/2005/04/discovery/ResolveMatches"
      />
    </wsdl:operation>
    <wsdl:operation name="Probe">
      <wsdl:input message="tns:ProbeMsg" wsa:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/Probe"/>
      <wsdl:output message="tns:ProbeMatchMsg" wsa:Action="http://schemas.xmlsoap.org/ws/2005/04/discovery/ProbeMatches"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- If this portType is included in EndpointReference/Types, it
       indicates the Target Service is a Discovery Proxy. Discovery
       Proxies also implement tns:TargetService and optionally other
       message exchanges defined elsewhere.
  -->
  <wsdl:binding name="discoveryBinding" type="tns:discoveryPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Probe">
      <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/04/discovery/Probe" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="discoveryService">
    <wsdl:port name="discoveryPort" binding="tns:discoveryBinding">
      <soap:address location="http://localhost:8000/WebService/discovery"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
